---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import TopLayout from "@layouts/TopLayout.astro";
import BottomLayout from "@layouts/BottomLayout.astro";
import Garden from "@components/Garden";
import { GARDEN } from "@consts";

const posts = (await getCollection("garden"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime());

const gardenTags = ["seedling", "budding", "evergreen"];

const tags = [...new Set(posts.flatMap((post) => post.data.tags))]
  .sort((a, b) => a.localeCompare(b))
  .filter((tag) => {
    return !gardenTags.includes(tag);
  });
---

<PageLayout title={GARDEN.TITLE} description={GARDEN.DESCRIPTION}>
  <TopLayout>
    <div class="animate page-heading">
      {GARDEN.TITLE}
    </div>
  </TopLayout>
  <BottomLayout>
    <div class="animate">
      <Garden client:load tags={tags} data={posts} gardenTags={gardenTags} />
    </div>
  </BottomLayout>
</PageLayout>
